---
layout: default
---
<div class="post">
  <div class="hero-section">
    {% if page.lab_image %}
      <div class="lab_image background-image">
        {% assign lab_image_path = page.lab_image | prepend: 'assets/img/' %}
        {% assign lab_image_class = 'img-fluid' %}
        {%
          include figure.liquid loading="eager" path=lab_image_path class=lab_image_class alt=page.lab_image cache_bust=true
        %}
      </div>
    {% endif %}

    <div class="hero-content">
      <h1 class="post-title">
        {{ site.title }}
      </h1>
      <p class="desc">
        {{ site.name }} <br>
        {{ site.whole_name }}
      </p>
    </div>
  </div>

  <div class="about_row">
    <!-- News -->
    {% if site.announcements and site.announcements.enabled %}
      <h2>
        <a href="{{ '/news/' | relative_url }}" style="color: inherit">新闻</a>
      </h2>
      {% include news.liquid limit=true %}
    {% endif %}

    <!-- Latest posts -->
    {% if site.latest_posts and site.latest_posts.enabled %}
      <h2>
        <a href="{{ '/book/' | relative_url }}" style="color: inherit">教材</a>
      </h2>
      {% include latest_posts.liquid %}
    {% endif %}

    <!-- Selected papers -->
    <h2>
      <a href="{{ '/publications/' | relative_url }}" style="color: inherit">发表</a>
    </h2>
    {% include selected_papers.liquid %}
  </div>

  <!-- Social -->
  <div class="social">
    <div class="contact-icons">{% include social.liquid %}</div>
    <div class="contact-note">{{ site.contact_note }}</div>
  </div>

  {% if page.enable_statistics %}
    <!-- 网站访问统计 -->
    <div class="site-statistics">
      <div class="clustermaps-statistics">
        <script
          type="text/javascript"
          id="clstr_globe"
          src="//clustrmaps.com/globe.js?d=CuL-I4uyFN3tF2XZcj-VZgkHu1uA8SsHDV1oRI3AE1I"></script>
      </div>
      <script type="text/javascript" src="https://busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
      <div class="busuanzi-statistics">
        <span id="busuanzi_container_site_pv" class="visitor-count">
          <span class="visitor-label">本站总访问量</span>
          <span id="busuanzi_value_site_pv" class="visitor-number"></span>
          <span class="visitor-label">次</span>
        </span>
      </div>
    </div>
  {% endif %}

</div>