---
layout: default
---
<div class="post">
  <div class="hero-section">
    {% if page.lab_image %}
      <div class="lab_image background-image">
        {% assign lab_image_path = page.lab_image | prepend: 'assets/img/' %}
        {% assign lab_image_class = 'img-fluid' %}
        {%
          include figure.liquid loading="eager" path=lab_image_path class=lab_image_class alt=page.lab_image cache_bust=true
        %}
      </div>
    {% endif %}
    
    <div class="hero-content">
      <h1 class="post-title">
        {{ site.title }}
      </h1>
      <p class="desc">{{ site.name }}</p>
    </div>
  </div>

  <div class="about_row">
    <!-- News -->
    {% if page.news and site.announcements and site.announcements.enabled %}
      <h2>
        <a href="{{ '/news/' | relative_url }}" style="color: inherit">新闻</a>
      </h2>
      {% include news.liquid limit=true %}
    {% endif %}

    <!-- Latest posts -->
    {% if site.latest_posts and site.latest_posts.enabled %}
      <h2>
        <a href="{{ '/blog/' | relative_url }}" style="color: inherit">教材</a>
      </h2>
      {% include latest_posts.liquid %}
    {% endif %}

    <!-- Selected papers -->
    {% if page.selected_papers %}
      <h2>
        <a href="{{ '/publications/' | relative_url }}" style="color: inherit">发表</a>
      </h2>
      {% include selected_papers.liquid %}
    {% endif %}
  </div>

  <!-- Social -->
  {% if page.social %}
    <div class="social">
      <div class="contact-icons">{% include social.liquid %}</div>

      <div class="contact-note">{{ site.contact_note }}</div>
    </div>
  {% endif %}

</div>